<div *ngIf="item" class="details-content">
    <h2>{{ item.newTodo | uppercase }}</h2>
    <div class="details">
        <div><span>ID: </span>{{item.id}}</div>
        <div><span>NAME: </span>{{item.newTodo}}</div>
        <div><span>DETAILS: </span>{{item.details}}</div>
    </div>

    <div class="details-edit">
        <label>EDIT DETAILS:</label>
        <textarea rows="5" cols="50" [(ngModel)]="item.details" placeholder="details"></textarea>
    </div>

    <button (click)="goBack()">go back</button>
</div>
