<div class="todos">

    <div>
        <form (submit)="addTodo($event)">
            <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
            <!--<button type="submit" [disabled]="newTodo===''">Add Todo</button>-->
        </form>
    </div>

    <ul class="todo-list">
        <li *ngFor="let todo of this.itemService.todos; let i=index">
            <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed"/>
            <a routerLink="/detail/{{todo.id}}">
                <span [ngClass]="{'checked': todo.completed}">{{ todo.id }}</span>
                <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
            </a>
            <span (click)="deleteTodo(i)" class="delete-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
        </li>
    </ul>

    <div class="mtop20">
        <button (click)="deleteSelectedTodos()">Delete Selected</button>
    </div>

</div>